<!DOCTYPE html>
<html>
  <title>webAPP</title>
  <link rel="stylesheet" href="./style.css" type="text/css" />
</html>
<body>
  <div id="app">
    <webapp v-model="page"></webapp>

    <div v-if="page === 1">
      <h3>1. 请问你的性别是：</h3>
      <div class="options" v-for="(item, index) in sex_list">
        <input
          :value="item.name"
          type="radio"
          @change="radio_change(event,index)"
          :chicked="item.checked"
        />{{ item.name }}
      </div>
      <div class="step_bottom">
        <button
          :disabled="disabledOne"
          :class="[{disabledColor: disabledOne},buttonone,greycolor]"
          @click="nextQuestionTwo"
        >
          下一步
        </button>
        <button @click="restartQuestionOne" :class="[buttonone]">重置</button>
      </div>
    </div>

    <div v-else-if="this.page == 2">
      <span>2.请选择您的兴趣爱好：</span>
      <div class="options" v-for="(item,index) in hobbies">
        <input
          type="checkbox"
          name="hobbies"
          value="item.name"
          @change="checkboxChange($event,index)"
          :checked="item.checked"
        />{{ item.name }}<br />
      </div>
      <div class="step_bottom second_quesiton">
        <button
          :disabled="disabledTwo"
          :class="[greycolor,{disabledColor: disabledTwo}]"
          @click="nextQuestionThree"
        >
          下一步
        </button>
        <button @click="lastStepOne">上一步</button>
        <button @click="restartQuestionTwo">重置</button>
      </div>
    </div>
    <div v-else>
      <span>3.请介绍一下自己：</span>
      <div>
        <textarea
          name="introduction"
          autofocus
          rows="10"
          cols="40"
          @blur="checkLength"
          :value="text"
        ></textarea>
      </div>
      <div class="step_bottom second_quesiton">
        <button
          :disabled="disabledThree"
          :class="[greycolor,{disabledColor: disabledThree}]"
          @click="submit"
        >
          提交
        </button>
        <button class="" @click="lastStepTwo">上一步</button>
        <button class="" @click="restartQuestionThree">重置</button>
      </div>
    </div>
  </div>

  <script src="../vue.js"></script>
  <script src="./index.js"></script>
</body>
